@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inconsolata", monospace;
  background-image: url(./images/background-desktop.png);
}
body p {
  color: white;
}
.title {
  margin-top: 20px;
}
.title h2 {
  color: white;
}
#avatar {
  position: absolute;
  left: 390px;
  top: -22px;
}
#informartion {
  position: absolute;
  left: 390px;
  top: 135px;
}
